@CHARSET "UTF-8";


input[id="policy_chk"] {
	display: none;
}

input[id="policy_chk"]+label {
	display: inline-block;
	cursor: pointer;
/* 	position: static; */
	vertical-align: middle;
	
	
}

input[id="policy_chk"]+label:before {
	content: "";
	display: inline-block;
	margin-top: 5px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	border: 2.2px solid #bcbcbc;
	cursor: pointer;
 	position: relative; 
 	top: 1.5px;
	vertical-align : bottom; 
	 
}

input[id="policy_chk"]:checked + label:before {
	background-color: #82caff;
	content: "\2713";
	font-weight: 800;
	color: 2.2px solid #bcbcbc; 
}

.policy_check {
	line-height: 16px;
}


.inp-field {
        width: 350px;
        height: 38px;
        border: 1px solid #aaa;
        color: #999;
        font-size: 14px;
        text-indent: 12px;
        line-height: 38px;
        margin-bottom: 10px;
}

.inp-field:read-only {
		background-color: #eee;
        width: 350px;
        height: 38px;
        border: 1px solid #aaa;
        color: #aaa;
        font-size: 14px;
        text-indent: 12px;
        line-height: 38px;
        margin-bottom: 10px;
        font-style: italic;
}

.inp-field_nomargin {
        width: 350px;
        height: 38px;
        border: 1px solid #aaa;
        color: #999;
        font-size: 14px;
        text-indent: 12px;
        line-height: 38px;
}

.inp-field2 {
        width: 212px;
        height: 35px;
        border: 1px solid #aaa;
        color: #999;
        font-size: 13px;
        text-indent: 9px;
        line-height: 35px;
        margin-bottom: 10px;
}

.inp-field2::placeholer {
	color: #bbb;
}

.btn_search {
	height: 39px;
	width: 45px;
	border: 1px solid #aaa;
	background-color: #aaa;
	line-height: 35px;
	color: #fff;
	margin-bottom: 10px;
	cursor: pointer;
}

.btn {     
        height: 42px;
        border: 1px solid #aaa; 
        background-color: #aaa;
        color: white;
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
        cursor: pointer;
        margin-bottom: 10px;
}

.btn_nomargin {     
        height: 42px;
        border: 1px solid #aaa; 
        background-color: #aaa;
        color: white;
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
        cursor: pointer;
}

.btn1 {     
        height: 42px;
        border: 1px solid #82caff; 
        color: #434d5b;
        background-color: #82caff;
        /*border: white;
        color: white;
        background: linear-gradient(90deg, #b44af7, #82caff);*/
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
        cursor: pointer;
        margin-bottom: 10px;
}

.btn2 {     
        height: 35px;
        border: 1px solid #b44af7;
        border-radius: 0.2em;
        color: #b44af7;
        background-color: #fff;
        font-size: 14px;
        text-indent: none;
        line-height: 35px;
        cursor: pointer;
        margin-bottom: 10px;
}

#join_content fieldset .inp-field {
        width: 350px;
        height: 38px;
        border: 1px solid #aaa;
        color: #999;
        font-size: 14px;
        text-indent: 12px;
        line-height: 38px;
}

#join_content fieldset .btn {
        
        height: 42px;
        border: 1px solid #aaa; 
        color: white;
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
}

/* News Area  -List*/

.reNews_section_container {
	border: 1px solid #fff;
	width: 1200px;
}

.news_header_font {
	color: #fff;
	font-size: 45px;
}

#reNews_category > ul{
 padding-inline-start:0px;
 margin-inline-start: 0px;
 margin-block-end: 0px;
 
}

#reNews_category > ul > li{
 padding: 8px;
 border: 1px solid #bbb;
 font-size: 15px;
 color: #434d5b;
 box-sizing: content-box;
 display: inline;
}

#header, #reNews_category {
	text-align: left;
}

#reNews_board {
	width: 760px;
	text-align: left;
	border: 1px solid #fff;
	box-sizing: border-box;
	display: inline-block;
/* 	float: left; */
	padding: 0;
}

#news_content_sortNews {
	padding: 3px;
	height: 25px;
}

.reNews_board_content{
 text-align: left;
 margin: 5px 0;
 padding: 0 5px 0 10px;
 border: 1px solid #fff;
 box-sizing: border-box;
 display: inline-block;
 width: 510px;
 height: 160px;
}

.reNews_board_thumnail {
	margin: 9px 25px 0 0;

	float: right;
	border: 1px solid #ccc;
	width: 210px; height: 150px;
}

.reNews_board_thumnail img{
	width: 100%; height: 100%;
}

.reNews_category_board {
 margin-top: 5px;
 background-color: #82caff;
 color: #434d5b;
 font-size: 15px;
 font-weight: bold;
 padding: 5px;
}

.reNews_board_title {
	font-size: 18px;
	
}

.reNews_board_summary{
	
	font-size: 12px;
}

.reNews_editor {
	font-size: 13px;
	font-weight: bold;
	color: #434d5b;
}

.reNews_date {
	font-size: 12px;
	color: #434d5b;
}

.reNews_paging {
	text-align: center;
}

/* News Area  -readContent*/
#reNewsRead_content { 
	width: 800px;
	text-align: left;
	border: 1px solid red;
}

.reNewsRead_container {
	border: 1px solid #fff;
}

.reNewsRead_content img {
	width: 100%;
}

.reNews_paging a{
	padding: 7px;
	color: #434d5b;
	font-size: 14px;
}


/* .eye {
  margin: 100px;
  width: 13px;
  height: 13px;
  border: solid 1px #000;
  border-radius:  75% 15%;
  position: relative;
  transform: rotate(45deg);
} */
/* .eye:before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: solid 1px #000;
  border-radius: 50%;
  left: 3px;
  top: 3px;
} */

.margin{margin-top: 100px;}
.margin2{margin-top: 50px;}
.margin3{margin-top: 20px;}
.margin4{margin-bottom: 100px;}

.w354 {width: 354px !important}
.w235 {width: 235px !important}
.w175 {width: 175px !important}
.w120 {width: 120px !important}
.w118 {width: 118px !important}
.w108 {width: 108px !important}


