@CHARSET "UTF-8";


.inp-field {
        width: 350px;
        height: 38px;
        border: 1px solid #aaa;
        color: #999;
        font-size: 14px;
        text-indent: 12px;
        line-height: 38px;
}

.btn {     
        height: 42px;
        border: 1px solid #aaa; 
        color: #aaa;
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
}


#join_content fieldset .inp-field {
        width: 350px;
        height: 38px;
        border: 1px solid #aaa;
        color: #999;
        font-size: 14px;
        text-indent: 12px;
        line-height: 38px;
}

#join_content fieldset .btn {
        
        height: 42px;
        border: 1px solid #aaa; 
        color: #aaa;
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
}

.w354 {width: 354px !important}
.w235 {width: 235px !important}
.w120 {width: 120px !important}
.w110 {width: 110px !important}