@CHARSET "UTF-8";


.inp-field {
        width: 350px;
        height: 38px;
        border: 1px solid #aaa;
        color: #999;
        font-size: 14px;
        text-indent: 12px;
        line-height: 38px;
        margin-bottom: 10px;
}

.inp-field_nomargin {
        width: 350px;
        height: 38px;
        border: 1px solid #aaa;
        color: #999;
        font-size: 14px;
        text-indent: 12px;
        line-height: 38px;
}

.btn {     
        height: 42px;
        border: 1px solid #aaa; 
        background-color: #aaa;
        color: white;
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
        cursor: pointer;
        margin-bottom: 10px;
}

.btn_nomargin {     
        height: 42px;
        border: 1px solid #aaa; 
        background-color: #aaa;
        color: white;
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
        cursor: pointer;
}

.btn1 {     
        height: 42px;
        border: 1px solid #82caff; 
        color: #434d5b;
        background-color: #82caff;
        /*border: white;
        color: white;
        background: linear-gradient(90deg, #b44af7, #82caff);*/
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
        cursor: pointer;
        margin-bottom: 10px;
}

#join_content fieldset .inp-field {
        width: 350px;
        height: 38px;
        border: 1px solid #aaa;
        color: #999;
        font-size: 14px;
        text-indent: 12px;
        line-height: 38px;
}

#join_content fieldset .btn {
        
        height: 42px;
        border: 1px solid #aaa; 
        color: white;
        font-size: 14px;
        text-indent: none;
        line-height: 38px;
}

.w354 {width: 354px !important}
.w235 {width: 235px !important}
.w175 {width: 175px !important}
.w120 {width: 120px !important}
.w118 {width: 118px !important}
.w108 {width: 108px !important}


