@charset "UTF-8";



.pay_btn{
	background-color: #b44af7;
	color : #fff;
	board : 1px solid;
	padding : 0 1.4em;
	height : 38px;
	line-height : 1;
	font-size : 14px;
}

.invoice{
	margin-top: 100px;
	margin-bottom: 100px;
	
}

.table{
	 border : 1px;
	 margin: 0 0 40px 0;
  	 width: 1200px;
 	 box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	 display: table;
}
.cell{
  width : 100px;
  padding: 6px 12px;
  display: table-cell;
}
.cell_addr{
  width : 900px;
  padding: 6px 12px;
  display: table-cell;
}