@CHARSET "UTF-8";

html, body {
	width : 100%;
	height : 100%;
}


body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin : 0;
    position : relative;
}

/* top */

#top {
	height : 65px;	
	background-color : white;
	padding : 0.4rem 0;
	
}

#top .top_container {
	width : 1200px;
	margin : 0 auto;
	display : flex;
	color : #aaa;
	height : 100%;
}

/* 메뉴,로그인, 회원가입 부분 */
#top .top_sub {
	color : #aaa;
	flex : 1;
}

#top .top_menu {
	position : relative;
	width : 100px;
	cursor : pointer;
}

.h {
	text-align : left;
}
/*
#top .top_menu .hamburger {	
	width : 50px;
	height : 100%;
	padding : 5px;	
}

#top .top_menu .hamburger div {
	background-color : #aaa;
	position : relative;
	width : 28px;
	height : 5px;
	border-radius : 1px;
	margin : 4px;
}
*/
.dropdown,.dropdown > ul {
    box-sizing:border-box;
    display: inline;}
    
.dropdownmenu > li {
	float: left;}

/* TOP 안에 search 부분 */

#searchBar {
	display : none;
	width : 100%;
	height : 65px;	
	position : absolute;
	left : 0;
	top : 0;
	justify-content:center;
	align-items : center;
	padding : 0.4rem 0;
	background: linear-gradient(90deg, #b44af7, #82caff);
}

.search {
	width : 0;
	height : 40px;
	border-radius : 30px;
	border : 3px solid #8a8a8e;
	font-size : 19px;
}

.search:focus {
	outline : 0;
}

.x {
	display : block;
	color : #999;
	font-size : 40px;
	position : absolute;
	right : 60px;
	cursor : pointer;
}

/* 슬라이드 메뉴 부분 */

.slidedown_menu {
	display : none;
	position : absolute;
	background-color : rgba(255,255,255,0.8);
	height : 300px;
	width : 100%;
	z-index : 1;
	box-shadow :0 1px 2px 0 #333;
}

.slidedown_menu div {
	width : 960px;
	margin : 20px auto;
}

#top .top_member {
	text-align : right;
	color : #aaa;
	line-height : 65px;
}

#top .top_member a{
	color : #aaa;
}

.menuLine_container {
	display : flex;
}

.menuLine_container .menuLine {
	display : flex;
	flex-direction : column;
	line-height : 1.6rem;
	text-align : left;
	padding-left : 7.6rem;
}

.menu_boss {
	font-weight : bold;
	font-size : 1.1rem;
	margin-bottom : 1.1rem;
}

.menuLine a {
	color : #555;
	font-size : 15px;
}

/* main */

.subject {
	font-weight : bold;
	font-size : 20px;
}

#main {
	position : relative;
	background-color : rgba(240,240,240,0.3);
}

#main .maincontainer {
	width : 55%;	
	margin : 0 auto;
	padding : 2rem 0;
}

#main .box {
	padding : 1rem 1rem;
	display : flex;
	flex-direction : row;
	justify-content : space-between;
	margin-top : 0.5rem;
	margin-bottom : 4rem;
}

#main .contents {
	padding : 8px 0;
	width : 30%;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	box-sizing : border-box;
	/* cursor : pointer; */
}

/* 원래 #main .contents:HOVER img였는데  -> .reward_img:HOVER로 이유는  인기순,최신순 기능을 추가하는과정에서 필요에 의함 */
.reward_img:HOVER{
	transform : scale(1.1);
	transition : all 0.6s ease;
}
.reward_img{width: 300px; height: 200px;}

#main .contents .contents_sub {
	width : 100%;
}

#main .contents .contents_top {
	display : flex;
	padding-left : 2px;
	height : 30px;
	margin-bottom : 0.5rem;
}

#main .contents .contents_top .top1 {
	border : 1px solid #8000ff;
	color : #8000ff;
	padding : 0 5px;
	font-size : 0.8rem;
	line-height : 30px;
}

#main .contents .contents_top .top2 {
	line-height : 30px;
	padding-left : 6px;
}

#main .contents .contents_mid {
	background-color : white;	
	margin-top : 5px;
	border : 0.1px solid rgba(0,0,0,0.1);
}

#main .contents .contents_mid .img_container {
	overflow : hidden;
	height : 200px;
	display : flex;
	justify-content : center;
	align-items : center;
}

#main .contents .contents_mid img {
	width : 100%;
}

#main .contents .contents_mid .cont_container {
	padding : 15px;
	height : 90px;
	font-weight : bold;	
}

#main .contents .contents_mid .cont_container h2 {
	font-size : 1.1rem;
	line-height : 1.3rem
}

#main .contents .contents_mid .cont_container h3 {
	font-size : 0.8rem;
	margin-top : 0.9rem;
	margin-bottom : 1.8rem;
	color : rgba(120,120,120,0.9);
}

#main .contents .contents_mid .cont_container h4 {
	font-size : 0.9rem;
}

#main .contents .contents_bottom {
	text-align : center;
	border : 0.1px solid rgba(0,0,0,0.1);
	background-color : #b44af7;
	height : 60px;
	line-height : 60px;
}

#main .box1 {
	display : grid;
	grid-template-columns : 1fr 1fr 0.8fr;
	grid-template-rows : 400px 400px;
	grid-gap: 30px;
	padding : 2rem 0;
 	
}

#main .box1 .box_grid {
	background-color : rgba(0,0,0,0.5);
	color : white;
}

#main .box1 .box_grid1 {
	grid-column : 1/3;
}

#main .box1 .box_grid2 {
	background-color : white;
	border : 0.1px solid rgba(0,0,0,0.2);
	grid-column : 3;
	grid-row  : 1/3;
	padding : 1rem 1rem;
}

#main .box1 .box_grid2 h2 {
	color : rgba(0,0,0,0.6);
	font-weight : bold;
	font-size : 1.1rem;
	height : 40px;
	line-height : 40px;
	border-bottom : 0.6px solid rgba(0,0,0,0.3);	
}

#main .box1 .box_grid2 .news_contents {
	color : rgba(0,0,0,1);
	font-size : 0.8rem;
	height : 70px;
	padding : 1rem 0;
	border-bottom : 0.6px solid rgba(0,0,0,0.3);
	line-height : 1.3rem;
}

#main .box1 .box_grid2 .news_contents b {
	font-weight : bold;
}


/* footer */

#footer {
	
	border-top : 0.4px solid rgba(150,150,150,0.4);
	height : auto;
	background-color : rgba(230,230,230,0.3);
}

#footer .footer_container1 {
	width : 65%;	
	margin : 0 auto;
	padding : 1.7rem 5px;
	border-bottom : 0.5px solid rgba(150,150,150,0.5);
}



#footer .footer_container1 h2 {
	line-height : 1.4rem;
	color : #b44af7;
	font-weight : bold;
	font-size : 1.1rem;
}

#footer .footer_container1 p {
	font-size : 0.7rem;
	margin-top : 2rem;
	line-height : 1.2rem;
}

#footer .footer_container1 h3 {
	font-weight : bold;
	font-size : 0.9rem;
	margin-top : 1.4rem;
}

#footer .footer_container1 b {
	font-weight : bold;
	font-size : 0.8rem;
}

#footer .footer_container2 {
	width : 65%;	
	margin : 0 auto;
	padding : 0.1rem 5px 2rem 5px;
	border-bottom : 0.5px solid rgba(150,150,150,0.5);
}

#footer .footer_container2 h4 {		
	color : #f81f1f;
	font-size : 0.8rem;
	font-weight : bold;
	line-height : 1.2rem;
}

#footer .footer_container2 p {
	color : rgba(100,100,100,0.8);
	font-size : 0.7rem;
	font-weight : 550;
}


/* 캐러셀 부분 */

#carousel_section{
    width: 100%;
    background-color: gray;
    height : 500px;
    position : relative;
    z-index : 0;
}
#carousel_section > ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#carousel_section > ul > li{
    list-style: none;
    width: 100%;
    height: 100%;
    position: absolute;
    display : flex;
  	 justify-content : center;
  	 align-items : center;
}
#carousel_section > ul > li >img{
    list-style: none;
    width: 100%;  
}

/* myPage 부분 */

#myindex_main {
	width : 100%;
	min-height : 100%;
}

#myindex_top {
	border-bottom : 0.5px solid rgba(50,50,50,0.6);
	box-sizing : border-box;
}

#myIndex_bottom {
	height : 100%;
}

.myindex_subject {
	font-size : 24px;
	height : 140px;
	line-height : 150px;
	width : 300px;
	margin : 0 auto;
	text-align : center;
}

.myindex_tab {
	width : 1200px;
	margin : 0 auto;
	display : flex;
	justify-content : flex-end;
}

.myindex_tab a {
	color : #000;
}

#myPage_main {
	padding-top : 2rem;
	padding-bottom : 4rem;
	width : 800px;
	margin : 0 auto;
}

.myPage_top_container {
	display : flex;
	box-sizing : border-box;
	width : 100%;
	background-color : rgba(200,200,200,0.4);
}

.myPage_top_1 {
	flex : 6;
	padding : 1.5rem 0;
	padding-left : 3rem;	
		
}

.myPage_top_2 {
	flex : 4;
	position : relative;
	padding-right : 3rem;
}

.info_container {
	display : flex;
	margin : 0.6rem;
}

.my_key {
	font-weight : bold;
	flex : 2;
}

.my_value {
	flex : 6;
}

.my_profile_value {
	position : relative;
	width : 100%;
	height : 250px;
}

.photo_container {
	position : absolute;
	left : 50%;
	top : 50%;
	transform : translate(-50%, -50%);
	border-radius : 50%;
	display : flex;
	justify-content : center;
	align-items : center;
	width : 150px;
	height : 150px;
	overflow : hidden;
	border : 2px solid #c0c0c0;
}

.myPage_mid {
	margin-top : 2rem;
}

.myPage_mid a {
	color : #000;
	flex : 1;
}

.myPage_mid_content {
	width : 100%;
	display : grid;
	grid-template-columns : 1fr 1fr 1fr;	
	grid-gap : 2rem;
	justify-items : center;
}

.myPage_goodlist {
	border : 0.3px solid rgba(0,0,0,0.2);	
	width : 240px;		
}

.myPage_goodlist .goodlist_imgContainer {
	overflow : hidden;	
	position : relative;
	display : flex;
	justify-content : center;
	
}

.goodlist_imgContainer .back {
	box-sizing : border-box;
	position : absolute;
	padding : 0 1rem;	
	padding-top : 3rem;
	left : 0;
	top : 50%;
	transform : translateY(-50%);
	width : 100%;
	height : 60%;	
	color : rgba(255,255,255,0.9);
	background-color : rgba(0,0,0,0.7);
}

.goodlist_imgContainer .back .good_subject {
	font-size : 1.3rem;
	font-weight : bold;
	text-align : center;
}

.goodlist_imgContainer .back .good_id {
	font-size : 1.1rem;
	font-weight : 600;
	margin-top : 0.4rem;
	text-align : center;
}

.goodlist_imgContainer .back .good_price {
	text-align : center;
	margin-top : 1rem;
	font-size : 0.95rem;
}

.myPage_goodlist .goodlist_imgContainer img {
	height : 300px;
}

.myPage_bot {
	margin-top : 2rem;
}

.myPage_bot_content {
	border : 0.5px solid rgba(0,0,0,0.2);
}

.btn_line {
	padding : 1rem 0;
	text-align : center;
}

.ybtn {
	border-radius : 5px;
	display : inline-block;
	width : 120px;
	height : 40px;
	line-height : 40px;
	border : 1px solid #ccc;
	color : rgba(0,0,0,0.8);
	font-weight : bold;
	text-align : center;	
	cursor : pointer;
}

.ybtn:HOVER {
	color : rgba(0,0,0,1);
}

/*------------------------*/

/* 좋아요 페이지 */

#myGoodList_main {
	width : 1000px;
	margin : 0 auto;	
}

#myRewardList_main {
	width : 900px;
	margin : 0 auto;
}

.myGoodList_content, .myRewardList_content {
	box-sizing : border-box;
	padding : 4rem 0;
}

.myGoodList_content_ {
	display : grid;
	grid-template-columns : 200px 200px 200px 200px;
	grid-template-rows : 350px 350px;
	grid-gap : 3rem;
	margin-bottom : 2rem;
	justify-content : center;
}

.myRewardList_content_ {
	margin-top : 2.5rem;
	margin-bottom : 6rem;
}

.reward_img_container {
	overflow : hidden;
	width : 120px; height : 80px;
	display : flex;
	justify-content : center;
}

.reward_img_container img {
	height : 80px;
}

.reward_content_container {
	padding-left : 1.5rem;
}

.reward_desc_container {
	padding : 1rem 1rem;
}

.reward_desc {
	display : flex;
	margin : 0.7rem 0;
	height : 25px;
	line-height : 25px;
}

.reward_desc>div:nth-of-type(1) {
	flex : 2;
	font-size : 13px;
	font-weight : 550;
}

.reward_desc>div:nth-of-type(2) {
	flex : 8;
	font-weight : bold;
	font-size : 17px;
	color : rgba(50,50,50,0.8);
}

.good_subject, .reward_subject {
	font-size : 1.8rem;
	font-weight : bold;
	margin : 0.8rem 0;
}

.good_content_box {
	border : 0.5px solid rgba(170,170,170,0.6);
}

.good_content .content{
	padding : 0 0.3rem;
}

.good_content .content_0 {
	height : 55%;
}

.good_content img {
	display : block;
	background-color : #48f;
	width : 100%;
	height : 100%;
	border : 0;
}

.good_content .content_1 {
	font-size : 15px;
	margin-top : 0.4rem;
}

.good_content .content_2 {
	font-size : 1.2rem;
	font-weight : bold;
}

.good_content .content_3 {
	color : #34f;
	font-size : 14px;
}

.good_content .content_4 {
	display : flex;
	justify-content : space-between;
	margin-top : 7px;
}

.mybtn {
	display : block;
	border-top : 1px solid #aaa;
	height : 30px;
	line-height : 30px;
	text-align:center;
	margin : 0 auto;
}

.justbtn {
	display : block;
	width : 120px;
	height : 40px;
	line-height : 40px;
	border-radius : 5px;
	background-color : rgba(0,90,180,0.8);
	font-weight : bold;
	color : rgba(255,255,255,1);
	text-align : center;	
	cursor : pointer;
	font-size : 14px;
	margin : 0 3px;
}

.justbtn1 {
	display : block;
	width : 120px;
	height : 40px;
	line-height : 40px;
	border-radius : 5px;
	background-color : rgba(200,200,200,0.8);
	font-weight : bold;
	color : rgba(0,0,0,0.8);
	text-align : center;	
	cursor : pointer;
	font-size : 14px;
	margin : 0 3px;
}

.my_board_page {
	text-align : center;
	display : flex;
	margin : 1.5rem auto;
	height : 30px;
	line-height : 30px;
	justify-content : center;
}

.my_board_page a {
	margin : 0 2px;
	color : #000;
}

.subject a {
	color : #000;
}

.bt {
	display : block;
	width : 120px;
	height : 30px;
	line-height : 30px;
	cursor : pointer;
	color : rgba(160,160,160,0.8);
		
}

.bt-on {	
	display : block;
	width : 120px;
	cursor : pointer;
	width : 120px;
	font-weight : bold;
	color : rgba(150,150,150,1);
}

.savedList_top {
	margin : 0 auto;
}

.savedList_bottom {
	padding : 2rem 0;
}

.savedList_bottom_content {
	height : 150px;
	margin : 0 auto;
	display : flex;
	justify-content : center;
	align-items : center;
	border-bottom : 0.7px solid rgba(170,170,170,0.8);

}

.savedList_bottom_content {
	text-align : center;
	padding : 5px 0;
}

.savedList_bottom_content>div:nth-of-type(1) {
	flex : 5;
	text-align : left;
}

.savedList_bottom_content>div:nth-of-type(2) {
	flex : 2;	
}

.savedList_bottom_content>div:nth-of-type(3) {
	flex : 1;
}

.savedList_bottom_content>div:nth-of-type(4) {
	flex : 1;	
}

.savedList_bottom_content>div:nth-of-type(5) {
	flex : 1;
}

.savedList_bottom_content:nth-of-type(even){
	background-color : rgba(230,230,230,0.5);
}

#savedList_main .savedList_desc {
	padding : 1rem 1rem;
	font-weight : bold;
}

/* 모달 창 부분 */

/* 호준 */

.modal_my {
	display : none;
	background-color : #ffffff;
	width : 300px;
	height : 350px;
	position : absolute;
	top : 55px;	
	box-shadow : 1px 1px 5px 0 #000;
	transform : translateX(45%);
	z-index : 999;
}

.modal_img_container {
	height : 180px; 
	border-bottom : 1px solid #ccc;
	position : relative;
	cursor : pointer;
}

.modal_img_container .modal_img {
	width : 80px;
	height : 80px;
	border-radius : 50%;
	background-color : #fff;
	position : absolute;
	left : 7%;
	top : 50%;
	transform : translateY(-50%);
	border : 1px solid #888;
}

.modal_img_container .modal_img img{
	border-radius: 50%;
	width: 100%; height: 100%;
}

.modal_content_my {
	margin-top : 0.6rem;
	margin-left : 2rem;
	cursor : pointer;
}


.modal_content_my a {
	font-size : 14px;
	color : #aaa;
}

.modal_content_my a:HOVER {
	font-weight : bold;
}

/*다원*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content - Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius : 0.2em;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #56595e;
  float: right;
  padding-right: 9px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: left;
  font-size: 13px;
  padding: 10px 16px;
  background: linear-gradient(90deg, #b44af7, #82caff);
  color: white;
}

.modal-body {
	padding: 25px 15px;
	font-size: 14px;
	text-align: center;
}

.modal-footer {
	text-align: center;
  padding: 5px 16px;
  background-color: #fff;

}

.modal-footer #modal-btn{
	background-color: #82caff;
	border-radius: 0.2em;
	width: 15%;
	height: 30px;
	color: #434d5b;
	border: none;
	margin-bottom: 5px;
	line-height: 100%;
}

.modal-footer #modal-btn2{
	background-color: #aaa;
	border-radius: 0.2em;
	width: 15%;
	height: 30px;
	color: #fff;
	border: none;
	margin-bottom: 5px;
	line-height: 100%;
}

.modal-footer #modal-btn3{
	background-color: #fff;
	border-radius: 0.2em;
	width: 15%;
	height: 30px;
	color: #b44af7;
	border: 1px solid #b44af7;
	margin-bottom: 5px;
	line-height: 100%;
}

/*-------------------------------------------*/

/* write 페이지 부분 ~~~~~~~ */

#write_top {
	height : 150px;
	background-color : rgba(230,230,230,0.6);
}

.write_top_cont {
	width : 900px;
	margin : 0 auto;
	font-size : 23px;
	line-height : 150px;
	padding-left : 1rem;
}

#write_main {
	width : 900px;
	min-height : 100%;
	display : flex;
	margin : 0 auto;
}

.write_tab {
	flex : 2;
	border-right : 1px solid rgba(200,200,200,0.5);
	padding : 4rem 0;
}

.write_tab a {
	display : inline-block;
	margin-top : 15px;
	font-size : 14px;
	cursor : pointer;
	margin-left : 30px;
	color : rgba(150,150,150,1);
	font-weight : 550;
}

.write_content {
	flex : 8;
}

.write_content input {
	height : 23px;
	border : 0.5px solid rgba(200,200,200,0.8);
}

._container {
	padding-left : 3rem;
	padding-top : 2rem;
}

.op_teaser_container {
	width : 100%;
	display : grid;
	grid-template-columns : 1fr 1fr 1fr;
	grid-gap : 1rem;
	margin-top : 2rem;
}

.op_teaser_container>div {
	display : none;
	box-sizing : border-box;
	height : 250px;
	border : 1px solid rgba(100,140,250,1);	
	flex-direction : column;
}

#op1_name, #op2_name, #op3_name {
	flex : 2;
	padding : 0 3px;
	padding-top:4px; 
	font-size : 17px;
	font-weight : 550;
}

#op1_desc, #op2_desc, #op3_desc {
	flex : 6;
	padding : 0 3px;
}

#op1_price, #op2_price, #op3_price {
	flex : 1;
	text-align : right;
	padding : 0 3px;
}

/* 관리자 페이지 부분!!!!!!!!!!!!!!!!! */

#admin_index {
	padding : 4rem 0 ;
}

#admin_index a {
	cursor : pointer;
}

#ad_tab {
	width : 1000px;
	margin : 0 auto;
}

#ad_tab a {
	display : inline-block;
	width : 100px;
	height : 30px;
	text-align : center;
	line-height : 30px;
}

#ad_main {
	width : 1000px;
	margin : 2rem auto;
}


.ad_board_top, .ad_board_list {
	display : flex;
	border-bottom : 1px solid #ccc;
}

.ad_board_top>div {
	font-weight : bold;
}

.ad_board_list div {
	padding : 0.5rem 0;
}

.ad_board_top > div:nth-of-type(1), .ad_board_list > div:nth-of-type(1) {
	flex : 1.5;
}
.ad_board_top > div:nth-of-type(2), .ad_board_list > div:nth-of-type(2) {
	flex : 1.5;
}
.ad_board_top > div:nth-of-type(3), .ad_board_list > div:nth-of-type(3) {
	flex : 5;
}
.ad_board_top > div:nth-of-type(4), .ad_board_list > div:nth-of-type(4){
	flex : 2;
}

#adBoardLook_main table td {
	margin : 0;
	padding : 0;
}

#adBoardLook_main a {
	display : inline-block;
	width : 100px;
	height : 30px;
	line-height : 30px;
	color : #000;
	text-align : center;
	border : 1px solid #ccc;
}

/* 판매자 소식 */

#sellerNewsList div {
	width : 100%;
}

#sellerNewsList {
	border-bottom : 0.5px solid rgba(20,60,240,0.6);
	padding : 1rem 0;
}

.sNewsWrite_div {
	padding : 2rem 0;		
	background-color : white;
}

.sNewsWrite_div input{
	box-sizing : border-box;
	width : 100%;
	height : 30px;
	margin-bottom : 1rem;
	opacity : 0.5;
	border : 1px solid rgba(160,160,160,1);
	border-radius : 5px;
}

.list_content img {
	width : 100%;	
}
