@CHARSET "UTF-8";

.option_center{position: relative;

}

.option_list{
	text-align: left;
	
	min-width: 600px; min-height: 500px;
	padding: 50px;
}
.option1_div,.option2_div,.option3_div{display: none;}

#total_price{border: 0;}

#opt_header {

	font-size: 25px;
	font-weight: 500;
	padding: 40px 0;
	background-color: #efedea;
}

.option_div{
	margin : 0 auto;
	width: 600px;
}